{% from "./message.html" import message %}

{% macro command(commandName, commandDefinition) %}

<a name="command-{{commandName}}"></a>
<div class="command">
  <h2 class="section-header">
    {{commandName}}
    {% if commandDefinition.deprecated %}
      <span class="operation-badge operation-badge--deprecated command__header__operation-badge">Deprecated</span>
    {% endif %}
  </h2>

  {% if commandDefinition.description %}
    <h3>Description</h3>
    {{ commandDefinition.description | markdown2html | safe }}
  {% endif %}

  <h3>Command Message</h3>
  {{ message(commandDefinition.command) }}

  <h3>Completion Message</h3>
  {{ message(commandDefinition.completion) }}

  <h3>Event Messages</h3>
  <ul>
    {% for eventName, event in commandDefinition.events %}
    <li><a href="#message-{{eventName}}">{{eventName}}</a></li>
    {% endfor %}
  </ul>

</div>

{% endmacro %}