{% from "./message.html" import message %}

{% set events = {} %}

{% for commandName, commandDefinition in xfs4iotapi._json.commands %}
  {% if commandDefinition.events %}
    {% for eventName, eventDefinition in commandDefinition.events %}
      {% if not xfs4iotapi._json.unsolicited[eventName] %}
        {% set events = events|setAttribute(eventName, eventDefinition) %}
      {% endif %}
    {% endfor %}
  {% endif %} 
{% endfor %}

<h1>Events</h1>

{% for eventName, eventDefinition in events %}
  <a name="message-{{eventName}}"></a>
  <div class="unsolicited">
    <h2 class="section-header">
      {{eventName}}
      {% if eventDefinition.deprecated %}
        <span class="operation-badge operation-badge--deprecated unsolicited__header__operation-badge">Deprecated</span>
      {% endif %}
    </h2>

    {% if eventDefinition.description %}
    <h3>Description</h3>
    {% endif %}

    {{ message(eventDefinition) }}  
  </div>
{% endfor %}
