{% if xfs4iotapi._json.info %}
<div class="center-block p-8">
  <a name="introduction"></a>
  <h1>{{xfs4iotapi._json.info.title}} {{xfs4iotapi._json.info.version}}</h1>
  <div class="leading-normal mb-4">
    {% if xfs4iotapi._json.info.termsOfService %}
    <a class="border border-solid border-purple-lighter hover:bg-purple-lighter hover:text-purple-dark font-bold no-underline text-purple text-xs uppercase rounded mr-2 px-3 py-1"
      href="{{xfs4iotapi._json.info.termsOfService}}" target="_blank">Terms of Service</a>
    {% endif %}
    {% if xfs4iotapi._json.info.license %}
      <a class="border border-solid border-orange-lighter hover:bg-orange-lighter hover:text-orange-dark font-bold no-underline text-orange text-xs uppercase rounded mr-2 px-3 py-1"
        href="{{xfs4iotapi._json.info.license.url}}" target="_blank">{{xfs4iotapi._json.info.license.name}}</a>
    {% endif %}
  </div>

  <div class="markdown">
    {{ xfs4iotapi._json.info.description | markdown2html | safe }}
  </div>

  <div class="leading-normal mb-4">
    {% if xfs4iotapi._json.info.contact %}
      {% if xfs4iotapi._json.info.contact.url %}
      Contact link: <a class="border border-solid border-purple-lighter hover:bg-purple-lighter hover:text-purple-dark font-bold no-underline text-purple text-xs uppercase rounded mr-2 px-3 py-1"
        href="{{xfs4iotapi._json.info.contact.url}}" target="_blank">{%- if xfs4iotapi._json.info.contact.name %}{{xfs4iotapi._json.info.contact.name}}{%- else %}{{xfs4iotapi._json.info.contact.url}}{%- endif %}</a>
      {% endif %}
      {% if xfs4iotapi._json.info.contact.email %}
      Contact email: <a class="border border-solid border-purple-lighter hover:bg-purple-lighter hover:text-purple-dark font-bold no-underline text-purple text-xs uppercase rounded mr-2 px-3 py-1"
        href="{{xfs4iotapi._json.info.contact.email}}" target="_blank">{{xfs4iotapi._json.info.contact.email}}</a>
      {% endif %}
    {% endif %}
  </div>
</div>
{% endif %}
