{% from "./schema.html" import schema %}

{% macro message(msg) %}

{% if msg.description %}
  {{ msg.description | markdown2html | safe }}
{% endif %}

{% if msg.headers %}
  {{ schema(msg.headers, 'Message Header', hideTitle=false) }}
{% endif %}  

{% if msg.payload %}
  {{ schema(msg.payload, 'Message Payload', hideTitle=false) }}
{% endif %}  

<h5>Example Message (generated)</h5> 
<pre class="hljs mb-4 border border-grey-darkest rounded"><code>{{ msg | generateMessageExample | safe }}</code></pre>

{% endmacro %}
