{% from "./schema-prop.html" import schemaProp %}

{% macro schema(schema, schemaName, hideTitle=false) %}

{% if not hideTitle %}
  <h4>{{schemaName}}</h4>
{% endif %}

<table class="table">
    <thead class="table__head">
      <tr class="table__head__row">
        <th class="table__head__cell">Name</th>
        <th class="table__head__cell">Type</th>
        <th class="table__head__cell">Default</th>
        <th class="table__head__cell">Description</th>
      </tr>
    </thead>
    <tbody class="table__body">
    {% for propName, prop in schema.properties %}
	  {{ schemaProp(prop, propName, required=(schema | isRequired(propName)), path='') }}
	{% else %}
	  {{ schemaProp(schema, "", required=(schema | isRequired(schemaName)), path='') }}
    {% endfor %}
  </tbody>
</table>

{% endmacro %}
