{% macro schemaProp(prop, propName, required=false, path='') %}

{% set includeRow = true %}
{% if prop.anyOf %}{% set includeRow = false %}{% endif %}
{% if prop.allOf %}{% set includeRow = false %}{% endif %}
{% if prop.oneOf %}{% set includeRow = false %}{% endif %}

{% if includeRow %}
<tr class="table__body__row">
  <td class="table__body__cell">{{ path | tree }}{{ propName }} {% if required %}<span class="required-badge">(Required)</span>{% endif %}</td>
  <td class="table__body__cell">
    {{ prop.type }}
  </td>
  <td class="table__body__cell">{{ prop.default }}</td>
  <td class="table__body__cell">{{ prop.description | markdown2html | safe }}</td>
</tr class="table__body__row">
{% endif %}

{% for p in prop.anyOf %}
  {% set pName = "" %}
  {{ schemaProp(p, pName, path=(propName | buildPath(path, pName))) }}
{% endfor %}

{% for p in prop.allOf %}
  {% set pName = "" %}
  {{ schemaProp(p, pName, path=(propName | buildPath(path, pName))) }}
{% endfor %}

{% for p in prop.oneOf %}
  {% set pName = "" %}
  {{ schemaProp(p, pName, path=(propName | buildPath(path, pName))) }}
{% endfor %}

{% for pName, p in prop.properties %}
  {{ schemaProp(p, pName, path=(propName | buildPath(path, pName)), required=(prop | isRequired(pName))) }}
{% endfor %}

{% if prop.additionalProperties and prop.additionalProperties.properties %}
  {% for pName, p in prop.additionalProperties.properties() %}
    {{ schemaProp(p, pName, path=(propName | buildPath(path, pName)), required=(prop.additionalProperties | isRequired(pName))) }}
  {% endfor %}
{% endif %}

{% if prop.items and prop.items.properties %}
  {% for pName, p in prop.items.properties %}
    {{ schemaProp(p, pName, path=(propName | buildPath(path, pName)), required=(prop.items | isRequired(pName))) }}
  {% endfor %}
{% endif %}

{% endmacro %}
